body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #3d85d1;
	text-align:center;
}

.landingPageWrapper{
padding-top:50px;
	width:100%;
	height:100%;
}

.questionViewWrapper{

	width:100%;
	height:100%;
}

.endingPageWrapper{
padding-top:50px;
		width:100%;
		height:100%;
}
.bodyWrapper{
	margin:0 auto;
	width:540px;
	height:990px;
	background-image:url("../img/bg_v01.jpg");
	background-size:cover;
}

.questionContainer img{
	max-width: 400px;
	max-height:200px;
}

.questionContainer{
	padding-top:50px;
	width:100%;
	height:220px;
	text-align:center;
}

.feedbackContainer{
	border-radius: 10px;
	border: 2px solid rgb(150, 150, 150);
	padding: 10px;
	margin: 10px auto;
	color: rgb(82, 140, 90);
	background-color:rgb(200,200,200);
	text-align: center;
	width:350px;
	font-weight: bold;
	height:100px;
	position:relative;
	top:-150px;
	z-index: 5;

}


.answerContainer {
	margin:0 auto;
	display:grid;
	grid-template-columns: 200px 200px;
	grid-row: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	width:410px;
}

.answerButton {
	border-radius: 10px;
	border: 2px solid rgb(150, 150, 150);
	min-height: 28px;
	padding: 10px;
	margin: 10px;
	color: rgb(82, 84, 100);
	text-align: center;
	align-items:center;
	justify-content:center;
	overflow-x:hidden;
}

.answerButton img{
	max-width: 200px;
	max-height:200px;
}

#answerButton1 {
	background-color: rgb(255, 234, 205);
	border-color: rgb(254, 217, 167);
}

#answerButton2 {
	background-color: rgb(242, 226, 255);
	border-color: rgb(231, 202, 255);
}

#answerButton3 {
	background-color: rgb(233, 255, 204);
	border-color: rgb(211, 250, 161);
}

#answerButton4 {
	background-color: rgb(255, 217, 211);
	border-color: rgb(255, 189, 180);
}
