body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Kalam;
}

@font-face {
   font-family: Kalam;
   src: url(Kalam-Bold.ttf);
}

body {
	background-color: #3d85d1;
	text-align:center;
	height:100%;
}

.landingPageWrapper{
padding-top:50px;
	width:100%;
	height:100%;
}

.landingMonster{
	width:50%;
	margin:0 auto;
	display: block;
	height: auto;
}

.questionViewWrapper{

	width:100%;
	height:100%;
}

.chestWrapper{
	margin: 0 auto;

width:80%;
padding-left:10%;
padding-right:10%;
}


.chestdiv{
	width:50%;

		float:left;
}
#pbutton{
	padding-top:30px;
	width:50%;
	float:left;
}

.chestWrapper img{
	width: 90%;

	float:left;
}


.starWrapper{
	width:100%;
	padding-top:34px;
}

.topstarh{
	width:6%;
	padding-left: 1%;
	padding-right: 1%;
	visibility: hidden;
}

.topstarv{
	width:6%;
	padding-left: 1%;
	padding-right: 1%;
	visibility: visible;
}

.endingPageWrapper{
padding-top:50px;
		width:100%;
		height:100%;
}
.bodyWrapper{
	margin:0 auto;
	width:100%;
	max-width:540px;
	min-height:800px;
	height:100%;
	background-image:url("../img/bg_crayon-1.png");
	background-size: 100% 100%;
	bottom:0;
}

.questionContainer img{
	max-width: 200px;
	max-height:200px;
}

.questionContainer{
	width:100%;
	margin:0 auto;
padding:5px;
	float:left;

	text-align:center;
}

.feedbackContainer{
	border-radius: 10px;
	border: 2px solid rgb(150, 150, 150);
	padding: 10px;
	margin: 10px auto;
	color: rgb(82, 140, 90);
	background-color:rgb(200,200,200);
	text-align: center;
	width:350px;
	font-weight: bold;
	height:100px;
	position:relative;
	top:-150px;
	z-index: 5;

}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .25s, opacity .25s linear;
}

.answerContainer {
	margin:0 auto;
	display:grid;
	grid-template-columns: 50% 50%;
	grid-row: auto auto;
	grid-column-gap: 2%;
	grid-row-gap: 2%;
	width:80%;
	height:80%;
	padding-top:10px;
}

button {
	border-radius: 10px;
	border: 2px solid rgb(150, 150, 150);
	text-align: center;
	align-items:center;
	justify-content:center;
	overflow-x:hidden;
	min-height: 28px;
	padding: 10px;
	margin: 10px;
}

.answerButton {

	color: rgb(82, 84, 100);
	min-height:32px;
	width:100%;
	height:100%;
	max-height:200px;
	max-width:200px;

}

.answerButton img{
	margin: 2% 2%;
	width:96%;
	height: 96%;

}

#startButton {
	background-color: rgb(80, 143, 0);
	border:none;
	color:white;
	padding: 10px 50px;
	border-radius: 38px;
}

#answerButton1 {
	background-color: rgb(255, 234, 205);
	border-color: rgb(254, 217, 167);
}

#answerButton2 {
	background-color: rgb(242, 226, 255);
	border-color: rgb(231, 202, 255);
}

#answerButton3 {
	background-color: rgb(233, 255, 204);
	border-color: rgb(211, 250, 161);
}

#answerButton4 {
	background-color: rgb(255, 217, 211);
	border-color: rgb(255, 189, 180);
}

#answerButton5 {
	background-color: rgb(211, 211, 255);
	border-color: rgb(160, 160, 255);
	display:none;
}

#answerButton6 {
	background-color: rgb(255, 244, 211);
	border-color: rgb(200, 189, 161);
	display:none;
}
